//Backbone App
script(type='text/javascript', src='/app/js/main.js')

//Components
script(type='text/javascript', src='/app/js/components/fade.js')


if (process.env.NODE_ENV == 'development')
    //Livereload script rendered
    script(type='text/javascript', src='http://localhost:35729/livereload.js')
