// ## Default margins

h1, .h1-like  { margin: 2.5*$u 0; }
h2, .h2-like  { margin: 2.5*$u 0; }
h3, .h3-like  { margin: 2.5*$u 0; }
h4, .h4-like  { margin: 2*$u 0; }
h5, .h5-like  { margin: 2*$u 0; }
.introduction { margin: 3*$u 0; }

p, p.bodytext, h6, .h6-like{ margin: 2.5*$u 0; }
td p, td p.bodytext{ margin: 0; }
ul{ margin: 3*$u 0;
  li{ margin: $u/2 0; }
}

// ## Font size

p, li, td, th, textarea, caption, pre, blockquote, label, input, select, textarea { font-size: 1.4em; line-height: 1.7em; }
li li, li p, td p, th p, li h1, li .h1-like, li h2, li .h2-like, li h3, li .h3-like, li h4, li .h4-like, li h5, li .h5-like, li h6, li .h6-like, button { font-size: 100%; }
input, select, textarea { font-family: $font; }
h1, .h1-like , h2, .h2-like , h3, .h3-like , h4, .h4-like, h5, .h5-like { line-height: 1em; }
h1, .h1-like { font-size: 3.5em; }
h2, .h2-like, .important { font-size: 2.4em; }
h3, .h3-like { font-size: 1.9em; }
h4, .h4-like, .introduction { font-size: 1.7em; }
h5, .h5-like { font-size: 1.6em; }
h6, .h6-like { font-size: 1.4em; }

// ## General

body { position: absolute; top: 0; right: 0; bottom: 0; left: 0; overflow-y: auto; background: $black; color: $white; }

// Use class **page** to set the max-width of the website
.page { @include page; }

// Links
a { color: $white; transition: .3s 0 all;
    &:hover { text-decoration: none; }
}
a > img { display: block; }

.btn { box-sizing: content-box; border: 1px solid $black; padding: 10px; border-radius: 2px; background-color: $grey2; color: $white; cursor: pointer; outline: none;
    &.active { outline: solid rgba(255,255,255,0.7) 1px; }
    &:hover {  background-color: $white; color: $grey2; }
}

.align-center { text-align: center; }
.align-justify { text-align: justify; }


// The light separator
hr { margin: 4*$u auto; border: none; height: 1px; background-color: $grey1; }

hr.clear {clear: both;  height: 0px; }


.nav {
    @include nav;
}

// ## components
.albums { padding: 32px; text-align: center;}
.album { display: inline-block; margin: 10px 5px; vertical-align: top; transition: .3s 0 all;
    &.active { margin-bottom: 260px;
        > a {  background-color: $white;
            h2 { color: $black; font-weight: 400; }
            &::after {opacity: 1; transition: .15s .15s all;  }
        }
    }
    > a { position: relative; display: block; border:1px solid $black; padding: 10px 10px 5px 10px; border-radius: 2px; background-color: $grey2; text-align: right;
        &:hover, { background-color: $white;
            h2 { color: $black; font-weight: 400; }
        }
        &::after { content: ' '; position: absolute; left: 50%; top: 100%; margin-left: -5px; border: 10px solid $white; border-bottom: 0; border-left-color: transparent; border-right-color: transparent; opacity: 0; transition: .15s 0 all; }
    }
    > img { display: block; }
    h2 { margin: 2px 0; font-size: 1.6em; line-height: 1.2; font-weight: 300; color: $white; }
    .images { display: none; position: absolute; left: 0; right: 0; margin-top: 10px; padding: 32px; height: 182px; background: $grey2; overflow-x: auto;}
    .image { margin: 5px; }
}

.image { display: inline-block; }

[data-view="slideshow"] { display: none; position: fixed; top: 0; right: 0; bottom: 0; left: 0; background-color: rgba(0,0,0,.5);
    .image a { display: block; position: absolute; top: 0; right: 0; bottom: 0; left: 0;
        img { position: absolute; top: 0; right: 0; bottom: 0; left: 0; margin: auto;}
    }
    .close { position: absolute; right: 10px; top: 10px; width: 12px; height: 12px; z-index: 999;}
    .controls { position: absolute; right: 10px; bottom: 10px; z-index: 999;
        .btn { margin-left: 5px; padding: 5px; width: 12px; height: 12px; }
    }
}

// ## Header



// ## Footer
