extends layouts/default

block content
  nav(data-view="nav")
    a(href="#/images") Images
  section(data-view="main")
    ul(data-view="images")
  //- script(type="text/javascript").
    //window.user = !{user};